@font-face {
  font-family: "Inter";
  src: url(Inter-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(Inter-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
